.widget-main{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    span{
        font-weight: 500;
    }

    .percentage{
        color: red;
        font-weight: 500;
    }
}

.order-stat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .imgArea{
       img{
        width: 50px;
        width: 50px;
        margin-top: 10px;
       }
    }

    .order-num{
        span{
            font-weight: bold;
        }
    }
}